.dashboardviewcontainer{
  margin:auto;
  padding-top: 1rem;
  background-color: #abd1c6;
  height: 100vh;
}
.dashboardcontainer{
  width: 60vw;
  margin: auto;
}
.entryContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
    margin-bottom: 20px;
  }