.herocontainer{
  display: flex;
  justify-content:space-around;
  background-color: #004643;
  padding: 5rem 3rem;
}

.heroinfo{
  margin-top: auto;
  margin-bottom: auto;
}

.title{
  font-size: 3rem;
  color:white;
}

.paragraph{
  font-size: 1.3rem;
  color:#abd1c6;
  margin-top: 1rem;
}

.mainbutton{
  background-color: #f9bc60;
  border:none;
  border-radius: 2px;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 1rem;
  cursor: pointer;
}


.firstcta{
  background-color: #abd1c6;
  padding: 7rem 3rem;
  color:#001e1d;
  display: flex;
  justify-content:space-around;
}

.infotext{
  margin-top:auto;
  margin-bottom: auto;
}

.titlefirstcta{
  color:#001e1d;
  font-size: 2rem;
}

.paragraphfirstcta{
  color:#004643;
  font-size: 1.1rem;
  margin-top: 1rem;
}

.secondarybutton{
  background-color: #004643;
  border:none;
  border-radius: 2px;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 1rem;
  color:#fffffe;
  cursor: pointer;
}

.secondcta{
  display: flex;
  justify-content:space-around;
  padding: 7rem 3rem;
  background-color: #004643;
}

.titlesecondcta{
  color:white;
  font-size: 2rem;
}

.paragraphsecondcta{
  color:#abd1c6;
  font-size: 1.1rem;
  margin-top: 1rem;
}

.righthero img{
  width: 30vw;
}

.infoimage{
  width: 30vw;
}

/* responsive */

@media (max-width: 900px){
  .herocontainer{
    display: block;
  }
  .righthero img{
    display: block!important;
    margin: auto!important;
    width: 50vw!important;
  }


  .firstcta{
    display: inline-flex;
    flex-direction: column-reverse;
  }

  .secondcta{
    display: block;
  }

  .infoimagecontainer img{
    padding-top: 2rem;
    display: block!important;
    margin-left: auto!important;
    margin-right: auto!important;
    width: 50vw!important;
  }
}